body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #search-icon {
    width: 20px;
    height: 20px;
  }
  
  header {
    background-color: red;
    padding: 15px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  #search-bar {
    padding: 14px;
    border: none;
    border-radius: 20px;
    width: 300px; 
    display: none;
    margin-right: 10px;
  }
  
  #search-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%; 
  }
  
  #search-icon:hover {
    background-color: #4e1010; 
  }
  
  
  .menu {
    display: flex;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .profile {
    position: relative;
  }
  #profile-icon{
    width: 30px;
    height: 30px;
    border-radius: 50px;
   
  }
  
  .profile img,
  .profile #login-link,
  .profile #logout-link {
    display: block;
  }
  
  .profile #logout-link {
    display: none; 
  }
  
  .profile-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }
  
  .profile-dropdown a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
  }
  
  button#menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  button#menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .search-container {
      display: none;
    }
  
    .menu {
      display: none;
    }
  
    button#menu-toggle {
      display: block;
    }
  }

#home {
    text-align: center;
    padding: 50px 20px;
    background-color: #db3a3a;
  }
  
  #home h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  #home p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  #home button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #home button:hover {
    background-color: darkred;
  }
  
  
  #categories {
    padding: 50px 20px;
    background-color: #f0f0f0;
  }
  
  #categories h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #categories ul {
    list-style-type: none;
    padding: 0;
  }
  
  #categories li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* About section */
  #about {
    padding: 50px 20px;
    background-color: #f0f0f0;
  }
  
  #about h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 18px;
  }
  
  /* Contact section */
  #contact {
    padding: 50px 20px;
  }
  
  #contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #contact p {
    font-size: 18px;
  }
  #varieties {
    background-color: #e3e3e3;
    display: flex;
  }
  .section-heading {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
    padding: 1rem 0 1rem 0;
    text-align: center;
  }
  
  .sec-content-div {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    font-size: 2rem;
    text-align: start;
    padding: 1rem 2rem 5rem 2rem;
    width: auto;
    justify-content: space-between; 
    max-width: 95rem;
    margin: 0 auto;
  }
  
  .sec-padding {
    padding: 8rem 0 10rem 0;
  }
  
  .tile {
    background-color: #fafafa;
    height: 40rem;
    width: calc(33.33% - 3rem); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.5rem;
    transition: all 0.2s;
    padding: 1.5rem;
    margin: 1.5rem 0; 
  }
  
  @media (max-width: 680px) {
    .tile {
      width: calc(100% - 3rem); 
      max-width: none;
    }
  }
  
  .tile img {
    width: 100%;
    max-width: 48rem;
    border-radius: 0.5rem;
  }
  
  .tile h4 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
    color: #e23d3d;
    margin: 0;
  }
  
  .tile p {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
  }
  
  .tile:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.19), 0 16px 16px rgba(0, 0, 0, 0.23);
  }
  #our-service {
    background-color: #ee6f57;
    padding: 1rem 0;
  }
  
  .bars {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 0.2rem;
  }
  
  @media (max-width: 990px) {
    .bars {
      flex-flow: column wrap;
    }
    .icon-container {
      margin: 0 2.5rem;
    }
  }
  
  .bars .icon-container {
    max-width: 10rem;
    flex: 1;
  }
  
  .icon-container img {
    max-height: 100%;
    max-width: 100%;
  }
  
  .bars .txt-container {
    flex: 2;
    padding: 3rem;
  }
  
  .txt-container h5 {
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .txt-container p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  #contact {
    background-color: #cb3737;
    color: #fafafa;
  }
  #contact h6 {
    font-size: 1rem;
    font-weight: 200;
  }
  input[type="email"] {
    border: none;
    outline: 0;
    font-size: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 1rem;
  }
  @media (max-width: 520px) {
    #contact h6 {
      font-size: 1rem;
    }
    #contact input[type="submit"],
    #contact input[type="email"] {
      margin: 1rem 1rem 0 1rem;
    }
  }

  .social-links {
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }
  
  .social-links a {
      display: inline-block;
      margin: 0 7px;
      text-decoration: none;
      color: #333;
      background-color: #e3e3e3;
      font-size: 10px;
      padding: 8px 16px;
      border: 2px solid #333;
      border-radius: 10px;
      transition: all 0.3s ease;
  }
  
  .social-links a:hover {
      background-color: #333;
      color: #fff;
  }